.prantaVesga {
    width: 22%;
    text-align: center;
}
body {
    height: 99%;
}

#logo {
    width: 30px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.parametros {
    width: 10%;
    height: 10%;
}